# Electron 二进制文件镜像
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_custom_dir={{ version }}
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# 如果你以后用到 sqlite3 等原生模块，建议也加上这个
canvas_binary_host_mirror=https://registry.npmmirror.com/-/binary/canvas
node_sqlite3_binary_host_mirror=https://registry.npmmirror.com/-/binary/sqlite3

# 保持你之前的提升配置
public-hoist-pattern[]=*electron*
